.inputlvl{
    width:45%;
}

.labellvl{
    width : 45%;
    margin-top: 1em;
}

.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

span{float:left}

.checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

button{
  border-radius: 20%;
  background-color: rgb(99, 148, 94);
  font-weight: bold;
  padding: 0.1em;
}

button:hover{
  color: white;
  background-color: red;
}
