.inputlvl{
    width:45%;
}

.labellvl{
    width : 45%;
    margin-top: 1em;
}

.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

button{
  border-radius: 20%;
  background-color: rgb(99, 148, 94);
  font-weight: bold;
}

button:hover{
  color: white;
  background-color: red;
}

.submit{
  border-radius: 20%;
  background-color: rgb(99, 148, 94);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px 10px;
}

.submit:hover{
  color: white;
  background-color: red;
}

.cancel{
  border-radius: 20%;
  background-color: rgb(139, 139, 139);
  font-weight: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: small;
  padding: 4px 7px;
}

.cancel:hover{
  color: white;
  background-color: red;
}

.popuptxt {
  color : rgb(159, 54, 54);
  padding: 2%;;
  border: solid rgb(159, 54, 54) 3px;
  margin-left: auto;
  width: 60%;
  margin-right: auto;
  margin-top: -440px;
  height: auto;
  position: relative;
  z-index: 0;
  background-color: #fafbe3
}

.occu{
  display: inline-block;
  width: 45%;
  color: black;
}

.printoccu{
  height: 9em;
  padding: 2px;
  border: solid rgb(159, 54, 54) 2px;
  overflow-y: scroll;
}

.inttxt{
  width: fit-content;
  font-weight: bold;
}

.inpnewnodeint{
  width: 5em;
}

.btngen{
  margin-right: 0.5em;
  border-radius: 20%;
  background-color: rgb(172, 177, 172);
  font-weight: bold;
  padding: 0.1em;
}

.btngen:hover{
  color: black;
  background-color: rgb(129, 236, 138);
}

.createlaw{
  background-color: lightgrey;
  border-radius: 1%;
}

.createlaw:hover{
  background-color: rgb(150, 174, 150);
  color: black;
}

.inplaw{
  margin-bottom: 0.5em;
}