{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 style="text-align: center; font-family: sans-serif; margin-top : 20px;">My Datas</h1>
<div class = "table-wrapper" style="text-align: center;">
    <table class="table table-hover table-bordered firsttable" style="border: solid 1px;">
        <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {%for row in data%}
            <tr>
            {%for cell in row%}
                <td>{{cell}}</td>
            {%endfor%}
            </tr>
        {%endfor%}
    </table>
    
</div>
<form method="POST" action="" enctype="multipart/form-data">
    <div style="height: 20em; width: 80%; overflow-y:scroll; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 10px; text-align: left; padding: 10px; padding-top: 0px;">
        <div id = "first">
            <p class = "headerchoice entete"><b>Select QIDs</b></p>
            {% for header in headers %}
                {% if loop.index is divisibleby 2 == 1 %}
                    {% set color = "white" %}
                {%else%}
                    {% set color = "lightgrey" %}
                {%endif%}
                {% if header == headers[headers|length -1]%}
                    <div id="div_{{header}}" class="{{color}}" style="padding : 10px;">
                        <input type="checkbox" id={{header}} name="checkbox_{{header}}" class = "checkbox">
                        <label id="l_{{header}}" for={{header}} style="margin-left: 5px;"><b>{{header}}</b></label>
                    </div>
                {% else %}
                    <div id="div_{{header}}" class="underlinedelem {{color}}" style="padding : 10px;">
                        <input type="checkbox" id={{header}} name="checkbox_{{header}}" class = "checkbox">
                        <label id="l_{{header}}" for={{header}} style="margin-left: 5px;"><b>{{header}}</b></label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id = "second">
            <p class = "headerchoice entetecache" id="h2"><b>a</b></p>
            {% for header in headers %}
                {% if loop.index is divisibleby 2 == 1 %}
                    {% set color = "white" %}
                {%else%}
                    {% set color = "lightgrey" %}
                {%endif%}
                {% if header == headers[headers|length -1]%}
                    <div style="padding : 10px;" class = "{{color}}">
                        <label id="l2_{{header}}" for={{header}} style="visibility: hidden;">Importance Level : </label>
                        <select name="level_{{header}}" id="selectimportance_{{header}}" style="width: auto; visibility: hidden;">
                            <option value="0">--Options--</option>
                            <option value="1">1 - Very Low</option>
                            <option value="2">2 - Low</option>
                            <option value="3">3 - Medium</option>
                            <option value="4">4 - High</option>
                            <option value="5">5 - Very High</option>
                        </select>
                    </div>
                {% else %}
                    <div class="underlinedelem {{color}}" style="padding : 10px;">
                        <label id="l2_{{header}}" for={{header}} style="visibility: hidden;">Importance Level : </label>
                        <select name="level_{{header}}" id="selectimportance_{{header}}" style="width: auto; visibility: hidden;">
                            <option value="0">--Options--</option>
                            <option value="1">1 - Very Low</option>
                            <option value="2">2 - Low</option>
                            <option value="3">3 - Medium</option>
                            <option value="4">4 - High</option>
                            <option value="5">5 - Very High</option>
                        </select>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id = "third">
            <p id="h3" class = "headerchoice entetecache"><b>a</b></p>
            {% for header in headers %}
                {% if loop.index is divisibleby 2 == 1 %}
                    {% set color = "white" %}
                {%else%}
                    {% set color = "lightgrey" %}
                {%endif%}
                {% if header == headers[headers|length -1]%}
                    <div class="{{color}}" style="padding : 10px;">
                        <label id="l3_{{header}}" for={{header}} style="visibility: hidden;">Type : </label>
                        <select name="type_{{header}}" id="selecttype_{{header}}" style="width: auto; visibility: hidden;">
                            <option value="">--Options--</option>
                            <option value="str">String</option>
                            <option value="int">Integer</option>
                            <option value="cat">Categorical</option>
                        </select>
                    </div>
                {% else %}
                    <div class="underlinedelem {{color}}" style="padding : 10px;">
                        <label id="l3_{{header}}" for={{header}} style="visibility: hidden;">Type : </label>
                        <select name="type_{{header}}" id="selecttype_{{header}}" style="width: auto; visibility: hidden;">
                            <option value="">--Options--</option>
                            <option value="str">String</option>
                            <option value="int">Integer</option>
                            <option value="cat">Categorical</option>
                        </select>   
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id = "forth">
            <p id="h4" class="entetecache" style="text-align: center; margin-bottom: 0px;"><b>a</b></p>
            {% for header in headers %}
                {% if loop.index is divisibleby 2 == 1 %}
                    {% set color = "white" %}
                {%else%}
                    {% set color = "lightgrey" %}
                {%endif%}
                {% if header == headers[headers|length -1]%}
                    <div class="{{color}}" style="padding : 10px; height: 45px; text-align: center;">
                        <button id="hiera_{{header}}" class="btnhiera" style="font-size: small; font-family: sans-serif; font-weight: bold; visibility: hidden;" >Edit Hierarchy</button>
                    </div>
                {% else %}
                    <div class="underlinedelem {{color}}" style="padding : 10px; height: 45px; text-align: center;">
                        <button id="hiera_{{header}}" class="btnhiera" style="font-size: small; font-family: sans-serif; font-weight: bold; visibility: hidden;">Edit Hierarchy</button>  
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div style="text-align: center;">
        <label for="inputk"><b>K-anonymity wanted :</b></label>
        <input id = "inputk" name="inputk" type="number" placeholder="ex : 5" style="width: 5em;">
        <br>
        <label for="inputmaxsupp" style="margin-top: 10px;"><b>Maximum suppression percentage :</b></label>
        <input id = "inputmaxsupp" name="inputmaxsupp" type="number" placeholder="ex : 10" style="width: 5em;">
        <br>
        <input type="submit" value="Anonymze This Dataset !" class = "submit" style="margin-top : 10px">
    </div>
</form>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}