{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 style="text-align: center; font-family: sans-serif; margin-top : 20px;">My Datas</h1>
<div class = "table-wrapper" style="text-align: center;">
    <table class="table table-hover table-bordered firsttable" style="border: solid 1px;">
        <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {%for row in data%}
            <tr>
            {%for cell in row%}
                <td>{{cell}}</td>
            {%endfor%}
            </tr>
        {%endfor%}
    </table>
    
</div>
<form method="POST" action="" enctype="multipart/form-data">
    <div style="width: 80%; margin-top: 20px; margin-left: auto; margin-right: auto; text-align: left; overflow: hidden; padding: 10px;">
        <div id = "first">
            <p class = "headerchoice"><b>Select checkboxes of   QIDs</b></p>
            {% for header in headers %}
                {% if header == headers[headers|length -1]%}
                    <div style="padding : 10px;">
                        <input type="checkbox" id={{header}} name=checkbox_{{header}}>
                        <label for={{header}} style="margin-left: 5px;"><b>{{header}}</b></label>
                    </div>
                {% else %}
                    <div class="underlinedelem" style="padding : 10px;">
                        <input type="checkbox" id={{header}} name=checkbox_{{header}}>
                        <label for={{header}} style="margin-left: 5px;"><b>{{header}}</b></label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id = "second">
            <p class = "headerchoice"><b>Select QIDs importance levels</b></p>
            {% for header in headers %}
                {% if header == headers[headers|length -1]%}
                    <div style="padding : 10px;">
                        <label for={{header}}>Importance Level : </label>
                        <select name="level_{{header}}" id="selectimportance" style="width: 170px;">
                            <option value="0">--Choose an option--</option>
                            <option value="1">1 - Very Low</option>
                            <option value="2">2 - Low</option>
                            <option value="3">3 - Medium</option>
                            <option value="4">4 - High</option>
                            <option value="5">5 - Very High</option>
                        </select>
                    </div>
                {% else %}
                    <div class="underlinedelem" style="padding : 10px;">
                        <label for={{header}}>Importance Level : </label>
                        <select name="level_{{header}}" id="selectimportance" style="width: 170px;">
                            <option value="0">--Choose an option--</option>
                            <option value="1">1 - Very Low</option>
                            <option value="2">2 - Low</option>
                            <option value="3">3 - Medium</option>
                            <option value="4">4 - High</option>
                            <option value="5">5 - Very High</option>
                        </select>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id = "third">
            <p class = "headerchoice"><b>Select QIDs types</b></p>
            {% for header in headers %}
                {% if header == headers[headers|length -1]%}
                    <div style="padding : 10px;">
                        <label for={{header}}>Type : </label>
                        <select name="type_{{header}}" id="selecttype" style="width: 170px;">
                            <option value="">--Choose an option--</option>
                            <option value="str">String</option>
                            <option value="int">Integer</option>
                            <option value="cat">Categorical</option>
                        </select>
                    </div>
                {% else %}
                    <div class="underlinedelem" style="padding : 10px;">
                        <label for={{header}}>Type : </label>
                        <select name="type_{{header}}" id="selecttype" style="width: 170px;">
                            <option value="">--Choose an option--</option>
                            <option value="str">String</option>
                            <option value="int">Integer</option>
                            <option value="cat">Categorical</option>
                        </select>   
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id = "forth">
            <p style="text-align: end; margin-bottom: 0px;"><b>Custom QIDs hierarchy</b></p>
            {% for header in headers %}
                {% if header == headers[headers|length -1]%}
                    <div style="padding : 10px; height: 45px;">
                        <button class="btnhiera" style="font-size: small; font-family: sans-serif; font-weight: bold;">Edit Hierarchy</button>
                    </div>
                {% else %}
                    <div class="underlinedelem" style="padding : 10px; height: 45px;">
                        <button class="btnhiera" style="font-size: small; font-family: sans-serif; font-weight: bold;">Edit Hierarchy</button>  
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div style="text-align: center;">
        <input type="submit" value="Anonymze This Dataset !" class = "submit">
    </div>
</form>
{% endblock %}