{% extends "base.html" %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

<script>
var dictotal = JSON.parse('{{dic | safe}}');  
let nblvl = 0;
let dicgenfinal = {};
let diccatfinal = {};
let tabfinalstr = [];
let tabname = [];
let initstr = true;
var treeData = [
  {
    "name": "Level 0 : *",
    "parent": "null",
  }
];


// ************** Generate the tree diagram	 *****************
var margin = {top: 20, right: 120, bottom: 20, left: 120},
	width = 960 - margin.right - margin.left,
	height = 540 - margin.top - margin.bottom;
	
var i = 0,
	duration = 750,
	root;

var tree = d3.layout.tree()
	.size([height, width]);
var diagonal = d3.svg.diagonal()
	.projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("body").append("svg")
	.attr("width", width + margin.right + margin.left)
	.attr("height", height + margin.top + margin.bottom)
  .append("g")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

document.body.addEventListener("contextmenu",(e) =>{e.preventDefault()})

d3.select(self.frameElement).style("height", "500px");

function createTree(txt){
  if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "int"){
    let json = JSON.parse(txt);
    var importtreeData = [["*",1,"0",0]]
    const keys = Object.keys(json);
    let dicteasy = {};
    let cmptnode = 1;
    for(key in keys){
      for(val in json[keys[key]]){
        cmptnode++
        if(key === "0"){
          dicteasy[json[keys[key]][val]] = cmptnode;
          importtreeData.push([json[keys[key]][val],cmptnode,1,parseInt(key)+1])
        }
        else{
          for(val2 in json[keys[key-1]]){
            let element = json[keys[key-1]][val2];
            let elementtotest = json[keys[key]][val];
            if(element != "Other"){
              min = parseInt(element.split(" ")[1]);
              max = parseInt(element.split(" ")[3]);
              mintotest = parseInt(elementtotest.split(" ")[1]);
              maxtotest = parseInt(elementtotest.split(" ")[3]);
              if(mintotest >= min && maxtotest <= max){
                importtreeData.push([json[keys[key]][val],cmptnode,dicteasy[element],parseInt(key)+1]);
                dicteasy[json[keys[key]][val]] = cmptnode;
              }
            }
          }
        }
      }
      for(val2 in json[keys[key-1]]){
        let element = json[keys[key-1]][val2];
        if(element != "Other"){
          min = parseInt(element.split(" ")[1]);
          max = parseInt(element.split(" ")[3]);
        }
        let change = true;
        while(change){
          change = false;
          for(val in json[keys[key]]){
            mintotest = parseInt(json[keys[key]][val].split(" ")[1]);
            if(mintotest === min || mintotest === (min+1)){
              change = true;
              min = parseInt(json[keys[key]][val].split(" ")[3]);
            }
          }
        }
        if(min < max){
          cmptnode++;
          importtreeData.push(["Other",cmptnode,dicteasy[element],parseInt(key)+1])
        }
      }
    }
    var toconvert = [];
    for(elem in importtreeData){
      let dic = {
        "id" : importtreeData[elem][1],
        "name" : importtreeData[elem][0],
        "depth" : importtreeData[elem][3],
        "children" : null,
        "parentId" : importtreeData[elem][2]
      }
      toconvert.push(dic);
      if(importtreeData[elem][0] != "Other" && importtreeData[elem][0] != "*"){
        if(dicgenfinal[importtreeData[elem][3]] == undefined){
          dicgenfinal[importtreeData[elem][3]] = [importtreeData[elem][0]];
        }
        else{
          dicgenfinal[importtreeData[elem][3]].push(importtreeData[elem][0]);
        }
      }
    }
    localStorage.setItem("dictint_" + localStorage.getItem("qid").replace("hiera_",''), JSON.stringify(dicgenfinal));
    treeData = list_to_tree(toconvert);
    root = treeData[0];
    root.x0 = height / 2;
    root.y0 = 0;
    update(root)
    document.getElementById("senddepth").value = nblvl;
  }
}

async function readText(event) {
  const file = event.target.files.item(0)
  const text = await file.text();
  createTree(text);
}


function update(source) {
  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
	  links = tree.links(nodes);
  // Normalize for fixed-depth.
  let tabdepth = [];
  nodes.forEach(function(d) { d.y = d.depth * 100; tabdepth.push(d.depth);});
  //remove labal and inputs
  if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "cat"){
    document.getElementById("senddepth").value = nblvl-1;
  }
  else{
    document.getElementById("senddepth").value = nblvl;
  }
  if(Math.max(...tabdepth) < nblvl){
    while(nblvl > Math.max(...tabdepth)){
      nblvl--;
      let lbltoremove = document.getElementById("lbl" + nblvl.toString());
      let inptoremove = document.getElementById("inp" + nblvl.toString());
      let d = document.getElementById("inplvl");
      d.removeChild(lbltoremove);
      d.removeChild(inptoremove);
    }
  }
  else{
    while(nblvl < Math.max(...tabdepth)){
      nblvl++;
      createinp(nblvl);
    }
  }
  
  if(localStorage.getItem("weights_" + localStorage.getItem("qid").replace("hiera_",'')) != null){
    let l = 0;
    while(l < nblvl){
      document.getElementById("inp" + l.toString()).value = localStorage.getItem("weights_" + localStorage.getItem("qid").replace("hiera_",'')).split(',')[l]; 
      l++;     
    }
  }

  // Update the nodes…
  var node = svg.selectAll("g.node")
	  .data(nodes, function(d) { return d.id || (d.id = ++firstid); })
  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
	  .attr("class", "node")
	  .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
	  .on("click", click)

  nodeEnter.append("circle")
	  .attr("r", 1e-6)
	  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeEnter.append("text")
	  .attr("x", function(d) { return d.children || d._children ? -13 : 13; })
	  .attr("dy", ".35em")
	  .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
	  .text(function(d) { return d.name; })
	  .style("fill-opacity", 1e-6);

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
	  .duration(duration)
	  .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
	  .attr("r", 10)
	  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
	  .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
	  .duration(duration)
	  .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
	  .remove();

  nodeExit.select("circle")
	  .attr("r", 1e-6);

  nodeExit.select("text")
	  .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
	  .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
	  .attr("class", "link")
	  .attr("d", function(d) {
		var o = {x: source.x0, y: source.y0};
		return diagonal({source: o, target: o});
	  })
  
  // Transition links to their new position.
  link.transition()
	  .duration(duration)
	  .attr("d", diagonal);
  
  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
	  .duration(duration)
	  .attr("d", function(d) {
		var o = {x: source.x, y: source.y};
		return diagonal({source: o, target: o});
	  })
	  .remove();
  

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
	d.x0 = d.x;
	d.y0 = d.y;
  });
}

// Toggle children on click.

var pointerX = -1;
var pointerY = -1;
document.onmousemove = function(event) {
	pointerX = event.pageX;
	pointerY = event.pageY;
}

function createinp(nblvl){
  let lastlabel = document.getElementById("lastlbl");
  let lastinp = document.getElementById("lastinp");
  let d = document.getElementById("inplvl");
  d.removeChild(lastlabel);
  d.removeChild(lastinp);

  let lab = document.createElement("label");
  lab.classList.add("labellvl");
  lab.setAttribute("id","lbl" + (nblvl-1).toString());
  lab.innerHTML = "Step " + (nblvl-1).toString() + " to " + (nblvl).toString();
  let inp = document.createElement("input");
  inp.type = "number";
  inp.classList.add("inputlvl");
  inp.addEventListener("change",saveweights)
  inp.setAttribute("id","inp" + (nblvl-1).toString())
  document.getElementById("inplvl").appendChild(lab);
  document.getElementById("inplvl").appendChild(inp);

  createinptodistinct();
}


let min;
let max;
function add(){
  let popup = document.getElementById("popuptxt");
  document.getElementById("affichpossible").innerHTML = "Possible values for depth = " + localStorage.getItem("depthencours");
  var nodes = tree.nodes(root).reverse(),
	  links = tree.links(nodes);
  let div2 = document.getElementById("possible");
  let alone = false;
  let okstr = true;
  while (div2.firstChild) {
    div2.removeChild(div2.lastChild);
  }
  for(elem in nodes){
    if(nodes[elem].depth === parseInt(localStorage.getItem("depthencours"))){
      let p2 = document.createElement("p");
      p2.innerHTML = nodes[elem].name;
      p2.style.marginBottom = "2px";
      div2.appendChild(p2);
    }
  }
  if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "int"){
    document.getElementById("affichpossible").hidden = false;
    document.getElementById("txtnew").innerHTML = "Enter new range";
    document.getElementById("txtintnewnode2").hidden = false;
    document.getElementById("txtintnewnode1").hidden = false;
    document.getElementById("intnewnode1").hidden = false;
    document.getElementById("intnewnode2").hidden = false;
    min = Math.min.apply(Math, dictotal[localStorage.getItem("qid").replace("hiera_",'')].map(Number));
    max = Math.max.apply(Math, dictotal[localStorage.getItem("qid").replace("hiera_",'')].map(Number));
    if(d_copy.name != "*"){
      min = parseInt(d_copy.name.split(" ")[1]);
      max = parseInt(d_copy.name.split(" ")[3]);
    }
    let run = true;
    while(run){
      let find = false;
      for(elem in dicgenfinal[localStorage.getItem("depthencours")]){
        let splitted = dicgenfinal[localStorage.getItem("depthencours")][elem].split(" ");
        if(parseInt(splitted[1]) === min){
          find = true;
          min = parseInt(splitted[3])+1;
        }
        if(parseInt(splitted[3]) === max){
          find = true;
          max = parseInt(splitted[1])-1;
        }
        if(find){
          break;
        }
      }
      if(!find){
        run = false;
      }
    }
    document.getElementById("intnewnode1").value = min;
    document.getElementById("intnewnode2").value = max;
  }
  else if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "str"){
    let last = true;
    for(elem in tabfinalstr.at(-1)){
      if(tabfinalstr.at(-1)[elem] == "*"){
        last = false;
      }
    }
    if(last === false || tabfinalstr.length < 1){
      document.getElementById("txtnew").innerHTML = "Click to remove the position of a character";
      let wordinit = dictotal[qid][0];
      let lengthstr = wordinit.length;
      let divpanel = document.getElementById("custompanel");
      let cmpt = 0
      if(initstr == true){
        initstr = false;
        while(cmpt < lengthstr){
          let btn = document.createElement("button");
          btn.innerHTML = wordinit[cmpt];
          btn.setAttribute("id","pos_"+cmpt)
          btn.classList.add("btngen");
          btn.onclick = function(event){
            if(btn.innerHTML == "*") {
              let pos = parseInt(btn.id.replace("pos_",''));
              btn.innerHTML = wordinit[pos];
            }
            else{
              btn.innerHTML = "*";
            }
          }
          divpanel.appendChild(btn);
          cmpt++;
        }
      }
      else{
        while(cmpt < lengthstr){
          if(tabfinalstr.at(-1)[cmpt] === "*"){
            document.getElementById("pos_"+cmpt).innerHTML = "*";
            document.getElementById("pos_"+cmpt).onclick = function(event){
            alert("Generalized position cannot be specified back !")
            return false;
            }
          }
          else{
            document.getElementById("pos_"+cmpt).innerHTML = wordinit[cmpt];
          }
          cmpt++;
        }
      }
    }
    else{
      okstr = false;
    }
  }
  else{
    let div3 = document.getElementById("printlaw");
    div3.hidden = false;
    if(localStorage.getItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",'')) != null){
      tabname = [];
      let w2 = 0;
      console.log(localStorage.getItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",'')))
      let arr = localStorage.getItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",'')).split("|").at(-1).split(";");
      while(w2 < arr.length){
        tabname.push(arr[w2].split('"')[1])
        w2++;
      }
      if(tabname.length === 1){
        alone = true;
      }
      while(div.firstChild) {
        div.removeChild(div.lastChild);
      }
      while(div3.firstChild) {
        div3.removeChild(div3.lastChild);
      }
      for(w in tabname){
        let p = document.createElement("p");
        if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "cat"){
          p.innerHTML = '"' + dictotal[qid][elem] + '"';
        }
        else{
          p.innerHTML = dictotal[qid][elem];
        }
        p.style.marginBottom = "2px";
        if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "cat"){
          document.getElementById("printlaw").hidden = false;
          p.style.cursor = "pointer";
          p.onclick = function(event){
            if(p.classList.value == ''){
              p.classList.add("plaw");
              p.style.color = "red";
              p.style.fontStyle  = "italic";
            }
            else{
              p.classList.remove("plaw");
              p.style.color = "black";
              p.style.fontStyle = "normal";
            }
          }
        }
        div.appendChild(p);
      }

    }
    
  }

  if(min > max){
      alert("Full range of specification already defined for depth : " + localStorage.getItem("depthencours"))
  }
  else if(tabfinalstr.length >= nodes.length && localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "str"){
    alert("String generalization already defined for depth : " + localStorage.getItem("depthencours"));
  }
  else if(okstr === false){
    alert("No more generalization possible !");
  }
  else if(alone){
    alert("Single value cannot be categorize !");
  }
  else{
    popup.style.visibility = "visible";
  }
  document.getElementById("hiddenactions").hidden = true;
}

function addnode(){
  //let name = document.getElementById("textnewnode").value;
  let name = "";
  let okstr2 = true;
  let okcat = true;
  let other = true;
  let tabpos = [];
  if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "int"){
    let from = document.getElementById("intnewnode1").value;
    let to = document.getElementById("intnewnode2").value;
    if(parseInt(from) <= min && parseInt(to) >= max){
      other = false;
    }
    name = "[ " + from + " ; " + to + " ]";
    if(dicgenfinal[localStorage.getItem("depthencours")] == undefined){
      dicgenfinal[localStorage.getItem("depthencours")] = [name];
    }
    else{
      dicgenfinal[localStorage.getItem("depthencours")].push(name);
    }
    localStorage.setItem("dictint_" + localStorage.getItem("qid").replace("hiera_",''), JSON.stringify(dicgenfinal));
  }
  else if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "str"){
    document.querySelectorAll('.btngen').forEach(function(button) {
      if(button.innerHTML === "*"){
        tabpos.push('*');
      }
      else{
        tabpos.push('X');
      }
    });
    name = tabpos.join('');
    if(JSON.stringify(tabpos) === JSON.stringify(tabfinalstr.at(-1))){
      okstr2 = false;
    }
    if(okstr2){
      tabfinalstr.push(tabpos);
      localStorage.setItem("tabfinalstr_" + localStorage.getItem("qid").replace("hiera_",''), JSON.stringify(tabfinalstr));
    }
  }
  else{
    let allchildren = document.getElementById("original").children;
    for(child in allchildren){
      if(allchildren[child].hidden === false){
        okcat = false;
        alert("You need to define a category for all possible values !");
        break;
      }
    }
    if(okcat) {
      if(localStorage.getItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",'')) === null){
        localStorage.setItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",''),'{' + document.getElementById("printlaw").innerHTML.replaceAll("<br>",' ; ').replaceAll("'",'"').slice(0, -2)+ "}")
      }
      else{
        localStorage.setItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",''),localStorage.getItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",'')) + "|" + '{' + document.getElementById("printlaw").innerHTML.replaceAll("<br>",' ; ').replaceAll("'",'"').slice(0, -2)+ "}")
      }
      let line = document.getElementById("printlaw").innerHTML.split("<br>");
      let l = 0;
      tabname = [];
      while(l < line.length -1){
        tabname.push(line[l].split("'")[1])
        l++;
      }
      name = tabname.join("; ");
      if(name.length > 13){
        name = name.substring(0,11);
        name += "...";
      }
    }
  }
  if(okstr2){
    if(okcat){
      if(parseInt(d_copy.depth) + 1 > nblvl){
        nblvl++;
        createinp(nblvl);
      }
      if(d_copy["children"] == undefined){
        d_copy["children"] = [{"name": name}]
        if(other && localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "int"){
          d_copy.children.push({"name": "Other"});
        }
      }
      else{
        d_copy.children.push({
                  "name": name
                });
        if(!other && localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "int"){
          for(child in d_copy.children){
            if(d_copy.children[child].name == "Other"){
              d_copy.children.splice(child, 1);
            }
          }
        }
      }
      update(d_copy);
      document.getElementById("popuptxt").style.visibility = "hidden";
    }
  }
  else{
    alert("Generalization's law already defined !")
  }
}

function remove(){
  for(elem in d_copy.parent.children){
    if(d_copy.parent.children[elem].name == d_copy.name){
      d_copy.parent.children.splice(elem,1)
    }
  }
  update(d_copy);
  var nodes = tree.nodes(root).reverse(),
	  links = tree.links(nodes);
  nodes.reverse();

  if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "str"){
    let d = 0
    while(tabfinalstr.length > d_copy.depth-1){
      tabfinalstr.pop();
      d++
    }
  }

  document.getElementById("hiddenactions").hidden = true;
}

let d_copy;
function click(d) {
  d_copy = d;
  if(document.getElementById("edit").checked){
    localStorage.setItem("depthencours",d.depth+1);
    document.getElementById("hiddenactions").hidden = false;
    document.getElementById("hiddenactions").style.top = pointerY-70+"px";
    document.getElementById("hiddenactions").style.left = pointerX+3+"px";
  }
  else{
    if (d.children) {
    d._children = d.children;
    d.children = null;
    } else {
    d.children = d._children;
    d._children = null;
    }
    update(d);
  }
}

function saveweights(){
  j = 0;
    tabweight = []
    while(j < nblvl){
      let inptosave = document.getElementById("inp"+j.toString()).value;
      tabweight.push(inptosave);
      j++;
    }
    localStorage.setItem("weights_" + localStorage.getItem("qid").replace("hiera_",''),tabweight);
}

var sub = (function(){
    var savenodes = tree.nodes(root).reverse(),links = tree.links(savenodes);
    allnodes = savenodes.reverse()
    tabtosave = [];
    for(elem in allnodes){
      if(elem == 0){
        tabtosave.push([allnodes[elem].name,allnodes[elem].id,"0",allnodes[elem].depth])
      }
      else{
        tabtosave.push([allnodes[elem].name,allnodes[elem].id,allnodes[elem].parent.id,allnodes[elem].depth])
      }
    }
    localStorage.setItem("tree_" + localStorage.getItem("qid").replace("hiera_",''),JSON.stringify(tabtosave));
    saveweights();
    document.getElementById("sendweights").value = localStorage.getItem("weights_" + localStorage.getItem("qid").replace("hiera_",''));
    if(localStorage.getItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",'')) != null){
      document.getElementById("sendlattice").value = localStorage.getItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",''));
    }
    else if(localStorage.getItem("tabfinalstr_" + localStorage.getItem("qid").replace("hiera_",'')) != null){
      document.getElementById("sendlattice").value = localStorage.getItem("tabfinalstr_" + localStorage.getItem("qid").replace("hiera_",''));
    }
    else{
      document.getElementById("sendlattice").value = localStorage.getItem("dictint_" + localStorage.getItem("qid").replace("hiera_",''));
    }
    
  });

function namelaw(){
  let allselected = document.querySelectorAll(".plaw");
  if(allselected.length < 1){
    alert("Select at least 1 value from the left box");
  }
  else{
    let namel = document.getElementById("inputlaw").value;
    if(diccatfinal[namel] === undefined){
      let tabselect = [];
      let stringlaw = "";
      allselected.forEach(function(pselected){
        pselected.classList.remove("plaw");
        tabselect.push(pselected.innerHTML);
        pselected.hidden = true;
      });
      diccatfinal[namel] = tabselect;
      stringlaw = "'" + namel + "' : [";
      for(elem in tabselect){
        stringlaw += tabselect[elem] + ", "
      }
      let div3 = document.getElementById("printlaw");
      div3.innerHTML += stringlaw.slice(0, -2) + "]<br>";
    }
    else{
      alert("This category has already been defined !")
    }
  }
  
}

function printinfo(){
  if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "int"){
    alert('Import function takes a JSON file with the following scheme :\n {\n   "1" : ["[ 10 ; 45 ]","Other"], #most generalized level - 1\n   "2" : ["[ 10 ; 24 ]","[ 24 ; 45 ]"],\n   "3" : ["[ 10 ; 12 ]","[ 12 ; 24 ]","[ 24 ; 45 ]"] #most specified level + 1\n}')
  }
}


</script>
<div id="hiddenactions" style="padding: 0.2em; width : 3.4em; height:50px; position: absolute;" hidden>
  <button style="width: 5em; height: 30px; margin-bottom: 0.1em;" onclick="add()">Add</button>
  <button style="width: 5em; height: 30px;" onclick="remove()">Remove</button>
</div>
<div style="float : right; width: 20%; margin-top: 1em; margin-right: 1em;">
  <div style=" margin-bottom: 10px; margin-left: -5.5em; float: left; width: fit-content;">
    <div class="checkboxes">
      <label><input id="edit" type="checkbox" onchange="checkb(this)"> <span style="margin-right: 0.5em; font-weight: bold; color: red;">Edit tree</span></label>
    </div>
  </div>
  <div style="text-align: center;">
    <p id="qid" style="font-weight: bold; font-size: large; color : green;">a</p>
  </div>
  <div id = "inplvl" style="border: solid black 2px; padding: 1em; margin-bottom: 20px;">
    <div style="text-align: center; font-weight: bold; color: black;">
        <span style="float : left;">Specification steps weights</span>
        <br>
    </div>
  </div>
  <div style="text-align: center;">
    <form method="POST" action="" onsubmit="sub()" enctype="multipart/form-data" >
      <input type="hidden" value="hiddenqid" name="hiddenqid" id="hiddenqid" />
      <input type="hidden" id="sendlattice" name="sendlattice" type="text" />
      <input type="hidden" id="sendweights" name="sendweights" type="text" />
      <input type="hidden" id="senddepth" name="senddepth" type="text" />
      <div class="fileupload" style="margin-left: auto;margin-right: auto;">
        <input type="file" id="importedfile" onchange="readText(event)"/>
        Import lattice
      </div>
      <div style="color: red; cursor: pointer; margin-top: 1px; margin-bottom: 5px;" onclick="printinfo()"> <u>Informations about imports</u></div>
      <input type="submit" value="Save" class = "submit" style="margin-top : 10px">
    </form>
  </div>
</div>

<div id="popuptxt" class="popuptxt" style="text-align: center; visibility: hidden;">
  <h5 style="font-weight: bold; margin-bottom: 1em;">New custom node</h5>
  <div>
    <div class="occu">
      <p id="enteteoriginal" style="font-weight: bold;">Original values</p>
      <div id="original" class="printoccu">
      </div>
    </div>
    <div id="divpossible" class="occu" hidden>
      <p id = "affichpossible" style="font-weight: bold;"></p>
      <div id="possible" class="printoccu">
      </div>
    </div>
    <div id = "printlaw" class="printoccu occu" style="overflow-x: scroll; white-space: nowrap;" hidden>
    </div>
  </div>
  <h6 id="txtnew" style="font-weight: bold; margin-top: 3px;"></h6>
  <div id="custompanel" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
    <input id = "textnewnode" type="text" hidden>
    <span id="txtintnewnode1" class="inttxt" hidden>From : </span>
    <input type="number" name="" id="intnewnode1" class="inpnewnodeint" hidden>
    <span id="txtintnewnode2" class="inttxt" style="margin-left: 2em;" hidden>To : </span>
    <input type="number" name="" id="intnewnode2" class="inpnewnodeint" hidden>
  </div>
  <div>
    <div id = "namelaw" hidden>
      <span id="spanlaw" class="inttxt" >Category's name : </span>
      <input type="text" name="" id="inputlaw" class="inplaw" >
    </div>
    <button id="btnlaw" class="createlaw" onclick="namelaw()" hidden>Create category for selection</button>
    <br>
    <button style="margin-top: 15px;" onclick="addnode()">OK</button>
  </div>
</div>
<script>

  function createinptodistinct(){
    let lab = document.createElement("label");
    lab.classList.add("labellvl");
    lab.setAttribute("id","lastlbl");
    lab.innerHTML = "Step " + (nblvl).toString() + " to distinct values";
    let inp = document.createElement("input");
    inp.type = "number";
    inp.classList.add("inputlvl");
    inp.addEventListener("change",saveweights)
    inp.setAttribute("id","lastinp")
    document.getElementById("inplvl").appendChild(lab);
    document.getElementById("inplvl").appendChild(inp);
  }

  function list_to_tree(list) {
    var map = {}, node, roots = [], i;
    
    for (i = 0; i < list.length; i += 1) {
      map[list[i].id] = i; // initialize the map
      list[i].children = []; // initialize the children
    }
    
    for (i = 0; i < list.length; i += 1) {
      node = list[i];
      if (node.parentId !== "0") {
        // if you have dangling branches check that map[node.parentId] exists
        list[map[node.parentId]].children.push(node);
      } else {
        roots.push(node);
      }
    }
    return roots;
  }

  if(localStorage.getItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",'')) != null){
    document.getElementById("sendlattice").value = localStorage.getItem("diccategories_" + localStorage.getItem("qid").replace("hiera_",''));
  }
  else if(localStorage.getItem("tabfinalstr_" + localStorage.getItem("qid").replace("hiera_",'')) != null){
    tabfinalstr = JSON.parse(localStorage.getItem("tabfinalstr_" + localStorage.getItem("qid").replace("hiera_",'')));
  }
  else if(localStorage.getItem("dictint_" + localStorage.getItem("qid").replace("hiera_",'')) != null){
    dicgenfinal = JSON.parse(localStorage.getItem("dictint_" + localStorage.getItem("qid").replace("hiera_",'')));
  }

  let qid = localStorage.getItem("qid").replace("hiera_",'');
  let div = document.getElementById("original");
  if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "int"){
    createinptodistinct()
    dictotal[localStorage.getItem("qid").replace("hiera_",'')].sort()
  }
  else if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "cat"){
    document.getElementById("namelaw").hidden = false;
    document.getElementById("btnlaw").hidden = false;
    document.getElementById("enteteoriginal").innerHTML = "Select values to categorize";
  }
  for(elem in dictotal[qid]){
    let p = document.createElement("p");
    if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "cat"){
      p.innerHTML = '"' + dictotal[qid][elem] + '"';
    }
    else{
      p.innerHTML = dictotal[qid][elem];
    }
    p.style.marginBottom = "2px";
    if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "cat"){
      p.style.cursor = "pointer";
      p.onclick = function(event){
        if(p.classList.value == ''){
          p.classList.add("plaw");
          p.style.color = "red";
          p.style.fontStyle  = "italic";
        }
        else{
          p.classList.remove("plaw");
          p.style.color = "black";
          p.style.fontStyle = "normal";
        }
      }
    }
    div.appendChild(p);
  }
  document.getElementById("qid").innerHTML = "QID : " + localStorage.getItem("qid").replace("hiera_",'');
  document.getElementById("hiddenqid").value = localStorage.getItem("qid").replace("hiera_",'');
  let firstid = 0;
  if(localStorage.getItem("weights_" + localStorage.getItem("qid").replace("hiera_",'')) != null){
    for(elem in localStorage.getItem("weights_" + localStorage.getItem("qid").replace("hiera_",'')).split(',')){
      createinp(parseInt(elem)+1);
      document.getElementById("inp" + elem).value = localStorage.getItem("weights_" + localStorage.getItem("qid").replace("hiera_",'')).split(',')[elem];
      nblvl++;      
    }
    var treetodisplay = JSON.parse(localStorage.getItem("tree_"+ localStorage.getItem("qid").replace("hiera_",'')));
    var toconvert = [];
    for(elem in treetodisplay){
      if(treetodisplay[elem][1] > firstid){
        firstid = treetodisplay[elem][1];
      }
      let dic = {
        "id" : treetodisplay[elem][1],
        "name" : treetodisplay[elem][0],
        "depth" : treetodisplay[elem][3],
        "children" : null,
        "parentId" : treetodisplay[elem][2]
      }
      toconvert.push(dic);
    }
    treeData = list_to_tree(toconvert);
    
  }
  else{
    if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "str"){
      var treeData = [
      {
        "name": "X".repeat(dictotal[qid][0].length),
        "parent": "null",
      }
      ];
    }
    else if(localStorage.getItem("type_" + localStorage.getItem("qid").replace("hiera_",'')) === "int"){
      var treeData = [
      {
        "name": "*",
        "parent": "null",
      }
      ];
    }
    else {
      var treeData = [
      {
        "name": "All values",
        "parent": "null",
      }
      ];
    }
  }
  root = treeData[0];
  root.x0 = height / 2;
  root.y0 = 0;

  update(root);
  
  function checkb(evt){
    if(!evt.checked){
        document.getElementById("hiddenactions").hidden = true;
    }
  }
</script>
{%endblock%}