ul{
    align-items: center !important;
}

nav{
    margin-bottom: 15px;
}

.container-fluid{
    padding-left: 0;
}

.selectfile{
  padding: 10px;
  width: 30%;
  margin-top: 25px;
  text-align: center;
  border: solid 3px;
  margin : auto;
}

.submit{
  border-radius: 20%;
  background-color: rgb(99, 148, 94);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px 10px;
}

.submit:hover{
  color: white;
  background-color: red;
}