ul{
    align-items: center !important;
}

nav{
    margin-bottom: 15px;
}

.container-fluid{
    padding-left: 0;
}

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.selectfile{
  padding: 10px;
  width: 30%;
  margin-top: 25px;
  text-align: center;
  border: solid 3px;
  margin : auto;
}

.table-wrapper{
    overflow-y: scroll;
    height: 20em;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  
.table-wrapper th{
    position: sticky;
    top: 0;
    background-color: rgb(65, 148, 100);
}


.firsttable tr:nth-child(even){
    background-color: #f3f3f3;
}

footer {
  position: fixed;
  height: 5%;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 10px;
}

#first {
  width: 65%;
  float: left;
}
#second {
  width: 35%;
  float: right;
}

.underlinedelem{
  border-bottom: solid 1px rgb(110, 110, 110);
}