{% extends "base.html" %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<h1 style="text-align: center; font-family: sans-serif; margin-top : 60px;">Upload your CSV file</h1>
<h5 style="text-align: center; color: red;">Only .csv files can be uploaded</h5>
<form method="POST" action="" enctype="multipart/form-data" class="selectfile ">
  <p>
    <input type="file" name="file" class = "custom-file-input " accept=".csv">
  </p>
  <p style="margin-bottom: 0;">
    <button type="submit" class="btn btn-primary" style="background-color : #337ab7; border-color: #2e6da4;">Choose this file</button>
  </p>
</form>

<script>
  localStorage.clear();
</script>
{% endblock %}