{% extends "base.html" %}
{% block body %}
<div id="toc_container">
    <h2 class="toc_title">Table of content</h2>
    <ul class="toc_list">
        <li><a class="toclink" href="#goal">1. Goal</a></li>
        <li><a class="toclink" href="#context">2. Context</a></li>
        <li><a class="toclink" href="#description">3. Complete description</a></li>
        <li><a class="toclink" href="#link">4. Github link</a></li>
    </ul>
</div>

<div style="margin-left: 10%; margin-right: 10%; margin-top: 2%; text-align: justify;">
  <h1 style="font-weight: bold;"><u><i>K-AnoTool</i></u></h1>
  <h4 id="goal"><u>Goal</u></h4>
  <p>
    The main goal of this project is to provide an anonymization tool to k-anonymize a database with algorithms based on weights for each attribute and to implement a tool to easily create the wanted tree of generalization.  </p>
  <h4 id="context"><u>Context</u></h4>
  <p>
    This tool has been created by Louis Tochon (Student in the MScIS) as a semester project with the supervision of Pr. Kévin Huguenin.
  </p>
  <h4 id="description"><u>Complete description</u></h4>
  <p>
    To realize this project, the algorithm created needs to incorporate the weights at each level of generalization to describe the quantity of information lost. The algorithm proposed is called SW and basically tests every possible generalization level to find the smallest information lost. However, testing all combinations is not a viable solution due to the exponential time needed. To solve this problem, a second algorithm is proposed which is called SSW (for Samarati-SW). This one includes a binary search which enables avoiding combinations which are leading to a larger information loss than a previous solution found.
  </p>

  <p style="text-align : center;">
    <img src="./static/files/supp_weight+Samarati.svg" alt="SSW Algorithm"/>
    <br>
    <i>
    SSW Algorithm's model
  </i>
  </p>
  <p>
    This anonymization algorithm will be deployed on a web application written in Python through the framework Flask.
  </p>
    <p>
  In a second time, an interface on the same web application will be created to provide a tool to the user to easily create his own tree of generalization.
  </p>
  <p>
  The crucial point of this project is to do a user-friendly tool with easy interactions to make the experience as simple as possible.
  </p><p>
  This project will focus on the medical domain to handle a single use case and go as deep as possible to provide a complete tool.
    </p>
  <h4 id="link"><u>Github link</u></h4>
  <p><a href="https://github.com/Ltochon/k-anon_Tool">Ltochon - K-anon_Tool</a></p>
</div>
{%endblock%}