body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.table-wrapper{
  overflow-y: scroll;
  height: 20em;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.infos{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.table-wrapper th{
  position: sticky;
  top: 0;
  background-color: rgb(87, 183, 215);
}


.firsttable tr:nth-child(even){
  background-color: #f3f3f3;
}

footer {
  position: fixed;
  height: 5%;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.submit{
  border-radius: 20%;
  background-color: rgb(99, 148, 94);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px 10px;
}

.submit:hover{
  color: white;
  background-color: red;
}

table.table-bordered{
  border:1px solid black;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:1px solid black;
}
table.table-bordered > tbody > tr > td{
  border:1px solid black;
}