body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

footer {
  position: fixed;
  height: 5%;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.submit{
  border-radius: 20%;
  background-color: rgb(99, 148, 94);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px 10px;
}

.submit:hover{
  color: white;
  background-color: red;
}