body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.table-wrapper{
    overflow-y: scroll;
    height: 20em;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  
.table-wrapper th{
    position: sticky;
    top: 0;
    background-color: rgb(99, 148, 94);
}


.firsttable tr:nth-child(even){
    background-color: #f3f3f3;
}

footer {
  position: fixed;
  height: 5%;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 10px;
}

#first {
  padding-left: 5px;
  width: 39%;
  float: left;
}

#third {
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  width: 31%;
  float: left;
}
#forth{
  width: 25%;
  float: left;
}

.underlinedelem{
  border-bottom: solid 1px rgb(110, 110, 110);
}

.lightgrey{
  background-color: lightgrey;
}

.entete{
  position: sticky;
  top: 0;
  background-color: rgb(99, 148, 94);
}

.entetecache{
  position: sticky;
  top: 0;
  background-color: #eeeeee;
  color: #eeeeee;
}

.btnhiera{
  background-color: rgb(150, 160, 149);
}

.submit{
  border-radius: 20%;
  background-color: rgb(99, 148, 94);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px 10px;
}

.submit:hover{
  color: white;
  background-color: red;
}

.headerchoice{
  text-align: center;
  margin-bottom: 0px;
}